.side
  .side__user
    .side__user__image
      = image_tag src="IMG_0328.JPG", size: "220x220"
    .side__user__info
      .side__user__info__name
        - if current_user == nil
          Name:  Gest
        - else 
          Name:  
          = current_user.name
  .side__icons
    - if current_user == nil
      = link_to user_session_path, class: "side__icons__out" do
        login
    - else 
      = link_to edit_user_path(current_user), class: "side__icons__out" do
        logout
