.side_ber
  #ctrl
    / 「線の太さ」ボタン群
    %span.wds.cur{:wd => "1"}
      %span#w1
    %span.wds{:wd => "2"}
      %span#w2
    %span.wds{:wd => "3"}
      %span#w3
    %span.wds{:wd => "4"}
      %span#w4
    %span.wds{:wd => "5"}
      %span#w5
    %span.wds{:wd => "6"}
      %span#w6
    %span.wds{:wd => "7"}
      %span#w7
    %span.wds{:wd => "8"}
      %span#w8
    %span.wds{:wd => "9"}
      %span#w9
    %span.wds{:wd => "10"}
      %span#w10
    %span.wds{:wd => "11"}
      %span#w11
    %span.wds{:wd => "12"}
      %span#w12
    %span.wds{:wd => "13"}
      %span#w13
    / 「線の太さ」選択枠
    %input#width{:min => "1", :type => "number", :value => "20"}/
    %br/
    / 「線の色」ボタン群
    %span.cls.cur{:cl => "#000"}
      %span#c1
    %span.cls{:cl => "#fff"}
      %span#c2
    %span.cls{:cl => "#f00"}
      %span#c3
    %span.cls{:cl => "#080"}
      %span#c4
    %span.cls{:cl => "#00f"}
      %span#c5
    %span.cls{:cl => "#800"}
      %span#c6
    %span.cls{:cl => "#fd0"}
      %span#c7
    %span.cls{:cl => "#fcc"}
      %span#c8
    %span.cls{:cl => "#888"}
      %span#c9
    %span.cls{:cl => "#000"}
      %span#c10
    / 「線の色」選択枠
    %div
      %button#clear-button 全消し