.main_drow{"data-room-id": "#{@room.id}"}
  %canvas#draw-area{:height => "650px", :style => "border: 2px solid #696969", :width => "1165px"}
    %input#room-illust{name: "room_illust", type: "hidden", value: @room.illust }/
    = form_for @room do |f|
      %input#room-info{name: "room_info", type: "hidden", value: @room.id }/
  -# %button#save-button 保存
-# = image_tag @room.illust




  