-# = form_with model: @room, html: {class: "main_drow"}, local: true do |f|
-#   %canvas#draw-area{:height => "650px", :style => "border: 1px solid #000000;", :width => "1165px"}
-#   = f.hidden_field :image_url, :value => ''
-#   = f.submit '保存'
.main_drow{"data-room-id": "#{@room.id}"}
  %canvas#draw-area{:height => "650px", :style => "border: 1px solid #000000;", :width => "1165px"}
    %input#room-illust{name: "room_illust", type: "hidden", value: @room.illust }/
    = form_for @room do |f|
      %input#room-info{name: "room_info", type: "hidden", value: @room.id }/
  %button#save-button 保存
-# = image_tag @room.illust




  