a {
  text-decoration: none;
}

.wrapper{
  display: flex;
  height: calc(100vh - 100px);
}

.header{
  background-color: #828282;
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: #bbbbbb 7px solid;
}

.icon_image {
  border-radius: 50%;
}

.side {
  background-color: #bbbbbb;
  width: 250px;
  position: relative;
    &__user {
      width: 220px;
      height: 570px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
        &__image {
          background-color: honeydew;
          width: 220px;
          height: 220px;
          border: 3px #828282 solid;
          border-radius: 50%;
          object-fit: fill;
        }
        &__info {
          &__name {
            color: #ffffff;
            margin-top: 30px;
          }
        }
      }
    &__icons {
      font-size: 18px;
      background-color: honeydew;
      border: 2px solid gray;
      border-radius: 5%;
      color:#ffffff;
      width: 150px;
      height: 30px;
      margin: 10px 50px 10px 50px;
      padding-top: 5px;
      text-align: center;
      &__edit {
        
      }
      &__out {
        
      }
    }
}

.main {
  width: calc(100vw - 250px);
    &__header{
      height: 40px;
      width: 100%;
      padding: 20px 15px 0px ;
      background-color: #ffffff;
      display: flex;
        &__data {

        }
        &__new-room {
          text-align: left;
        }
    }

    &__rooms {
      width: 97.5%;
      height: 81%;
      background-color: #ffffff;
      margin: 10px 0px 0px 10px;
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
        &__state {
          font-size: 12px;
          width: 300px;
          height: 230px;
          margin: 20px 30px 10px 20px;
          background-color: #e5ffaa;
            &__image {
              width: 270px;
              height: 170px;
              margin: 10px 15px;
              background-color: #ffffff;
              object-fit: fill;
            }
            &__data {
              display: flex;
              &__box {
                color: gray;
                width: 100%;
                margin-left: 10px;
                  &__name {
                  }
                  &__people {
                  }
              }
              &__enter {
                text-align: center;
                display: inline-block;
                width: 70px;
                margin: 0px 10px 0px 10px;
                background-color: #38aef0;
                font-size: 16px;
                color: #fff;
                padding-top: 7px;
              }
          }   
        }
    }
    &__logo {
      text-align: right;
      font-size: 20px;
      padding-top: 20px;
      padding-right: 20px;
    }
}
